@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <img src="~/image/nice.jpg" height="200px" width="100%" alt="banner" />
</div>
<div class="profile text-center">
    <img class="rounded-circle" src="~/images/Snapchat-491491460_1.jpg" alt="Profile pix" />
    <h3>Golden Idikibiebuma</h3>
    <h6>Software Developer @@  Decagon institute(Full Stack .Net) <br /> Lagos nigeria</h6>
    <a asp-controller="Contact" asp-action="Index" class="btn btn-primary mx-2">Message</a>
    <a asp-controller="Service" asp-action="index" class="btn btn-primary mx-2">More...</a>
</div>
